@import 'antd/dist/antd.less';

body {
    -webkit-font-smoothing: antialiased;
}

.ant-layout-header {
    background-color: @layout-body-background;
}

.ant-tabs-card .ant-tabs-nav {
    .ant-tabs-tab, .ant-tabs-tab-active {
        background-color: @layout-body-background;
    }
}

.ant-tabs-card.ant-tabs-top .ant-tabs-nav .ant-tabs-tab-active {
    border-bottom-color: @primary-color;
    border-bottom-width: 2.5px;
}
